%section.slide
  %h1
    Geek slideshows 
  %p
    A Sinatra - Deck.js song improvised by @vzmind
%section.slide
  %h2 Host ur slideshows
  %ol
    %li
      %h3 Copy that Github repo
      %p git clone git@github.com:vzmind/sinatra-deckjs.git
    %li
      %h3 Deploy it on Heroku
      %p You know the usual :
      %pre
        %code
          git push heroku master
%section.slide
  %h2 Create your first slideshow
  %ol
    %li
      %h3 Simply add a new listner to deck-song.rb 
      %pre
        %code
          get "/my-new_song"
          haml :my_new_song
    %li
      %h3 Create a file my_new_song.haml in views
      %p You can start editing your slideshow
      %pre
        %code
          = "%li\n %h3 slide title\n %p description of my slide"
%section.slide
  %h2 Add slides and customize
  %ol
    %li
      %h3 A section tag is a slide
      %p Just add as much as you want.
    %li
      %h3 Customize the introduction.css if needed
      %p It's already coming with a basic shadowing style.
%section.slide
  %h2 Advanced singer ?
  %ol
    %li
      %h3 Tweak the transitions in layout.haml
      %p Change the transition js file from assets/deck.js/themes/transition
    %li
      %h3 Tweaks Themes
      %p Try to pick an other theme from assets/deck.js/themes/style
    %li
      %h3 Want even more ?
      %p
        check 
        %a{:href => 'http://imakewebthings.github.com/deck.js/'}
          deck.js
        and 
        %a{:href => "http://sinatrarb.com"}
          sinatra
    %br/
    %p
      Thanks for listening.  Follow me on 
      %a{:href => "http://twitter.com/vzmind"}
        @vzmind



