%section.slide
  %h1
    Quick Intro to deck.js
%section.slide
  %h2 How to Make a Deck
  %ol
    %li
      %h3 Copy that Github repo
      %p git clone git@github.com:vzmind/personal-deckjs.git
    %li
      %h3 Customize the introduction.css if needed
      %p It's already woming with a basic shadowing style.
%section.slide
  %h2 How to add slides
  %ol
    %li
      %h3 Simply edit HTML
      %p Edit the index.html file
    %li
      %h3 A section tag is a slide
      %p Just add as much as you want.
    %li
      %h3 Choose Themes
      %p One for slide styles and one for deck transitions.
%section.slide
  %h2 Customize your slideshow
  %ol
    %li
      %h3 If you are more advanced
      %p change the transition js
    %li
      %h3 Choose Themes
      %p Try to pick an other theme from the deck.js folder

